<form [formGroup]="form" class="container my-3">
  <div class="d-flex justify-content-between align-items-center">
    <h3>{{ form.get("title")?.value }}</h3>
    <div style="color: red" class="my-2" *ngIf="status == 'new'">
      Salva le modifiche prima di chiudere la pagina
    </div>
  </div>
  <div class="bg-light px-3 py-4">
    <div class="d-flex justify-content-end align-items-center">
      <div class="d-flex align-items-center gap-3">
        <label for="version" class="form-label">Versione</label>
        <input
          type="text"
          id="version"
          class="form-control-plaintext rounded px-2"
          formControlName="version"
          readonly
        />
      </div>
    </div>
    <div class="form-group mx-0 mt-3 p-0">
      <textarea
        formControlName="input"
        class="form-control custom-scroll"
        id="input"
        rows="10"
        [readonly]="true"
      ></textarea>
    </div>
    <div *ngIf="getResults().length > 0">
      <div class="accordion mt-3" id="accordionExample">
        <div
          class="accordion-item"
          *ngFor="let t of getResults(); let i = index"
        >
          <ng-container
            *ngIf="(t.key === 'EASY_TO_READ' && 'ETR' == context) || !context"
          >
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed text-decoration-none"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse_' + i"
                aria-expanded="false"
                [attr.aria-controls]="'collapse_' + i"
              >
                <div
                  class="d-flex justify-content-between align-items-center w-100 gap-2"
                >
                  <div class="d-flex align-items-center gap-2">
                    {{ formatLabel(t.label) }}
                    <a
                      target="_blank"
                      href="https://easy-to-read.inclusion-europe.eu/it/"
                      class="d-flex align-items-center text-decoration-none no-border-on-focus"
                    >
                      <mat-icon style="color: #06c">info</mat-icon>
                    </a>
                  </div>
                  <div class="pos-relative custom-tooltip-container">
                    <mat-icon
                      style="color: green"
                      *ngIf="
                        form.get(t.key)?.value?.length > 0 &&
                        checkValidate(t.key)
                      "
                      [ngClass]="{ disabled: checkEdit(t.key) }"
                      >check_circle</mat-icon
                    >
                    <mat-icon
                      style="color: blue"
                      *ngIf="
                        form.get(t.key)?.value?.length > 0 &&
                        !checkValidate(t.key)
                      "
                      [ngClass]="{ disabled: checkEdit(t.key) }"
                      >memory</mat-icon
                    >
                    <mat-icon
                      style="color: red"
                      *ngIf="!checkValidate(t.key, true)"
                      [ngClass]="{ disabled: checkEdit(t.key) }"
                      >cancel</mat-icon
                    >
                    <div
                      class="pos-absolute custom-tooltip bg-white fit-content text-nowrap"
                    >
                      <div class="fit-content">
                        Editor:
                        <!--Strumento di generazione dei contenuti accessibili-->
                        {{ editors[t.key] ? editors[t.key] : "Semplificato" }}
                      </div>
                      <div class="fit-content">
                        Stato: {{ getStatus(t.key) }}
                      </div>
                      <div class="fit-content" *ngIf="lastUpdates[t.key]">
                        Ultima modifica: {{ formatDate(lastUpdates[t.key]) }}
                      </div>
                      <div
                        class="fit-content"
                        *ngIf="
                          form.get(t.key)?.value?.length > 0 &&
                          checkValidate(t.key)
                        "
                      >
                        Validatore: {{ validators[t.key] }}
                      </div>
                    </div>
                  </div>
                </div>
              </button>
            </h2>
            <div
              [id]="'collapse_' + i"
              class="accordion-collapse collapse bg-white p-3"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body p-0">
                <div
                  class="custom-scroll py-3"
                  *ngIf="!checkEdit(t.key)"
                  style="white-space: pre-line"
                >
                  {{ form.get(t.key)?.value }}
                </div>
              </div>
              <textarea
                class="custom-scroll form-control"
                *ngIf="checkEdit(t.key)"
                [formControlName]="t.key"
                rows="10"
              ></textarea>
              <!-- PULSANTI -->
              <div class="d-flex justify-content-end mt-3 px-3">
                <mat-icon
                  *ngIf="checkEdit(t.key)"
                  (click)="
                    edit[t.key] = false;
                    form.get(t.key)?.setValue(oldText);
                    oldText = ''
                  "
                  role="button"
                  title="Annulla modifiche"
                  style="color: red"
                  >close_small</mat-icon
                >
                <mat-icon
                  *ngIf="!checkEdit(t.key)"
                  (click)="edit[t.key] = true; oldText = form.get(t.key)?.value"
                  role="button"
                  title="Modifica"
                  class="primary-color"
                  [ngClass]="
                    !form.get(t.key)?.value ||
                    form.get(t.key)?.value?.length == 0 ||
                    disabled
                      ? 'disabled'
                      : ''
                  "
                  >edit</mat-icon
                >
                <mat-icon
                  *ngIf="checkEdit(t.key)"
                  (click)="edit[t.key] = false; revise(t.key)"
                  role="button"
                  title="Salva e valida"
                  style="color: green"
                  [ngClass]="
                    !form.get(t.key)?.value ||
                    form.get(t.key)?.value?.length == 0 ||
                    disabled
                      ? 'disabled'
                      : ''
                  "
                  >spellcheck</mat-icon
                >
                <mat-icon
                  class="ms-2 primary-color"
                  (click)="regenerate(t.key)"
                  role="button"
                  title="Rigenera"
                  [ngClass]="{ disabled: checkValidate(t.key) || disabled }"
                  >refresh</mat-icon
                >
                <!-- <mat-icon
                  class="ms-2 primary-color"
                  (click)="validate(t.key)"
                  role="button"
                  title="Valida"
                  [ngClass]="{ disabled: checkEdit(t.key) }"
                  >check</mat-icon
                > -->
                <!-- <div class="btn btn-danger ms-2" *ngIf="checkValidate(t.key)"
                      [ngClass]="{'disabled': checkEdit(t.key)}" (click)="setValidation(t.key)">
                          Invalida
                      </div> -->
              </div>
              <!-- END PULSANTI -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end align-items-center mt-3 gap-2">
    <button
      class="btn btn-primary"
      (click)="salva()"
      [disabled]="checkDisabled() || disabled"
    >
      SALVA
    </button>
  </div>
</form>
